<div id="contacto">
        <div class="formu">
            <span class="material-icons">
                account_circle
            </span>
            <h2>Login</h2>
                <form>
                    <mat-form-field appearance>
                        <mat-label>Usuario</mat-label>
                        <input matInput>
                      </mat-form-field><br>
                      <mat-form-field appearance>
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput>
                      </mat-form-field><br>
                      <button mat-raised-button type="submit">Enviar</button>
                </form>
        </div>
    </div>
        