<body>
    <img src="https://s1.1zoom.me/b5050/144/BUGATTI_La_Voiture_Noire_Black_Black_background_565563_2560x1440.jpg" alt="">
    <div class="landing">
        <h1>Plantilla</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos laudantium corrupti, blanditiis fugit natus mollitia sit voluptate est labore ducimus veniam in adipisci neque repudiandae doloribus quas quia debitis necessitatibus.</p>
        <button mat-raised-button color="primary">Leer mas..</button>
    </div>
</body>

 